---
import { db, User, Session, Playlists, eq, sql } from "astro:db";
import { Image } from "astro:assets";
import Playlisting from "@components/Playlisting.astro";
const luciaUser = Astro.locals.user;
console.log(luciaUser);
if (!luciaUser) {
  return Astro.redirect("/login");
}

const existingUser = (
  await db
    .select()
    .from(User)
    .where(sql`${User.id} = ${luciaUser.id}`)
)[0];

const session = await db
  .select()
  .from(Session)
  .where(eq(existingUser.id, Session.userId));

const userPlaylists = await db
  .select()
  .from(Playlists)
  .where(eq(existingUser.id, Playlists.userId));

const spotifyUserResponse = await fetch(
  `https://api.spotify.com/v1/users/${existingUser.spotifyId}/playlists?offset=0&limit=100`,
  {
    headers: {
      Authorization: `Bearer ${session[0].accessToken}`,
    },
  }
);
let spotifyUserData;
if (spotifyUserResponse.ok) {
  spotifyUserData = await spotifyUserResponse.json();
} else {
  console.error(
    "error: ",
    spotifyUserResponse.status,
    spotifyUserResponse.statusText
  );
  spotifyUserData = [];
}

// refreshed: {
//   "accessToken": "BQBfYyJTlJcFbg9bNLUQX1kZ6fvKpYFusSeG6eD25_hzBi9jjgaTSyMGYNM_DP5pfqQSDwOcrnxpR7xgBB2A4YBPeQL8P5JEmJ2owFn3xd9n663cVwfU49IF5cI4rXTl4jOFXa3S7LEGilVWr__OIhiiCXWL_kBPWMxGlaLqF5DhAXImlA",
//   "accessTokenExpiresAt": "2024-06-14T17:12:24.448Z"
// }
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lucia example</title>
  </head>
  <body>
    <nav>
      <h2 class="title">Spot-rating</h2>
      <div class="user">
        <Image
          src={existingUser.avatar}
          alt=``
          height="40"
          width="40"
          loading="eager"
          class="square"
        />
        <p>{existingUser.name}</p>
        <form method="post" action="/api/logout">
          <button>Sign out</button>
        </form>
      </div>
    </nav>
    <p>
      <em
        >Missing playlists? Make sure that they're visible from your profile!</em
      >
    </p>
    {userPlaylists.map((plist) => <p>{JSON.stringify(plist)}</p>)}
  </body>

  <script>
    document.forms[0].addEventListener("submit", async (e) => {
      e.preventDefault();
      const formElement = e.target as HTMLFormElement;
      await fetch(formElement.action, {
        method: formElement.method,
        body: new FormData(formElement),
      });
      window.location.href = "/login";
    });
  </script>
</html>

<style>
  * {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
  }

  .square {
    object-fit: cover;
  }

  .title {
    flex-grow: 1;
  }

  .user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }

  nav {
    min-width: 100%;
    padding: 0 2rem 0 2rem;
    display: flex;
    background-color: rgb(238, 238, 238);
    justify-content: space-around;
    align-items: center;
  }
</style>
