---
const { id } = Astro.params;
import { db } from "astro:db";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="db:songs" existingUser={Astro.locals.currentUser}>
  <h3>DB: Songs</h3>
  <!-- {
    songResults.map(
      (song: {
        id: string;
        contributorId: string;
        songId: string;
        playlistId: string;
        addedAt: string;
      }) => (
        <p>
          {song.id} {song.contributorId} {song.playlistId} {song.addedAt}
        </p>
      )
    )
  } -->
</BaseLayout>
