---
const { id } = Astro.params;
import { db, User, Songs_Temp, Session, eq, sql } from "astro:db";
import { Image } from "astro:assets";
import BaseLayout from "@layouts/BaseLayout.astro";

const luciaUser = Astro.locals.user;
if (!luciaUser) {
  return Astro.redirect("/login");
}

const existingUser = (
  await db
    .select()
    .from(User)
    .where(sql`${User.id} = ${luciaUser.id}`)
)[0];

const session = await db
  .select()
  .from(Session)
  .where(eq(existingUser.id, Session.userId));

const songResults = await db.select().from(Songs_Temp);
---

<BaseLayout title="db:songs" existingUser={existingUser}>
  <h3>DB: Songs</h3>
  {
    songResults.map((song: { name: string; id: string }) => (
      <p>
        {song.name} {song.id}
      </p>
    ))
  }
</BaseLayout>
