---
import { db, User, eq, sql } from "astro:db";
import { Image } from "astro:assets";
const luciaUser = Astro.locals.user;
if (!luciaUser) {
  return Astro.redirect("/login");
}

const existingUser = (
  await db
    .select()
    .from(User)
    .where(sql`${User.id} = ${luciaUser.id}`)
)[0];

console.log(existingUser);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lucia example</title>
  </head>
  <body>
    <Image src={existingUser.avatar} alt=`` inferSize={true} loading="eager" />
    <h1>Hi, {existingUser.name}!</h1>
    <form method="post" action="/api/logout">
      <button>Sign out</button>
    </form>
  </body>
</html>

<script>
  document.forms[0].addEventListener("submit", async (e) => {
    e.preventDefault();
    const formElement = e.target as HTMLFormElement;
    await fetch(formElement.action, {
      method: formElement.method,
      body: new FormData(formElement),
    });
    window.location.href = "/login";
  });
</script>
