---
const { id } = Astro.params;
import { db, User, Session, Playlists, Songs_Temp, eq, sql } from "astro:db";
import { Image } from "astro:assets";
import type PlaylistReturnObject from "../../types/spotifyTypes.ts";
import LocalSong from "@components/LocalSong.astro";
import { spotify } from "src/lib/auth";
import { GET } from "../api/playlists/[playlist]/[offset]/tracks.ts";
import BaseLayout from "@layouts/BaseLayout.astro";
// import { insertSongWithRelations } from "../../lib/db-lib";

const luciaUser = Astro.locals.user;
if (!luciaUser) {
  return Astro.redirect("/login");
}

const existingUser = (
  await db
    .select()
    .from(User)
    .where(sql`${User.id} = ${luciaUser.id}`)
)[0];

console.log(existingUser);

const session = await db
  .select()
  .from(Session)
  .where(eq(existingUser.id, Session.userId));

const playlistInfo = await fetch(
  `https://api.spotify.com/v1/playlists/${id}?fields=owner%28display_name%29%2C+images%28url%29`,
  {
    headers: {
      Authorization: `Bearer ${session[0].accessToken}`,
    },
  }
);

const playlistData = await playlistInfo.json();
console.log(JSON.stringify(playlistData, null, 2));

const savedSongs = await db
  .select()
  .from(Songs_Temp)
  .where(sql`${id} = ${Songs_Temp.playlistId}`);

---

<BaseLayout title={`Playlist: ${"asd"}`} existingUser={existingUser}>
  <div class="playlist-header">
    <Image src={playlistData.images[0].url} alt="" width="200" height="200" />
    <div class="playlist-info"></div>
  </div>
  <!-- {savedSongs.slice(0, 2).map((item) => <>{JSON.stringify(item, null, 2)}</>)} -->
  {savedSongs.map((item) => <LocalSong songInfo={item} />)}
  <!-- <TrackListing id={id} /> -->
</BaseLayout>

<style>
  .playlist-header {
    margin: 3rem 1rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      347deg,
      rgba(0, 0, 0, 0.17) 0%,
      rgba(255, 255, 255, 1) 58%
    );
  }
</style>
