---
const { id } = Astro.params;
import { db, User, Session, Playlists, Songs_Temp, eq, sql } from "astro:db";
import { Image } from "astro:assets";
import LocalSong from "@components/LocalSong.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const luciaUser = Astro.locals.user;
if (!luciaUser) {
  return Astro.redirect("/login");
}

const existingUser = (
  await db
    .select()
    .from(User)
    .where(sql`${User.id} = ${luciaUser.id}`)
)[0];

const session = await db
  .select()
  .from(Session)
  .where(eq(existingUser.id, Session.userId));

const playlistInfo = await fetch(
  `https://api.spotify.com/v1/playlists/${id}?fields=name%2C,description%2Cowner%28display_name%29%2C+images%28url%29`,
  {
    headers: {
      Authorization: `Bearer ${session[0].accessToken}`,
    },
  }
);

const playlistData = await playlistInfo.json();
console.log(JSON.stringify(playlistData, null, 2));

const savedSongs = await db
  .select()
  .from(Songs_Temp)
  .where(sql`${id} = ${Songs_Temp.playlistId}`);

console.log(JSON.stringify(playlistData, null, 2));
---

<BaseLayout title={`Playlist: ${"asd"}`} existingUser={existingUser}>
  <div class="playlist-header">
    <Image src={playlistData.images[0].url} alt="" width="200" height="200" />
    <div class="playlist-info">
      <h2>
        {playlistData.name}
      </h2>
      <h5>By {playlistData.owner.display_name}</h5>
      <h5>{playlistData.description}</h5>
    </div>
  </div>
  {savedSongs.map((item) => <LocalSong songInfo={item} />)}
</BaseLayout>

<style>
  .playlist-header {
    margin: 3rem 1rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      347deg,
      rgba(0, 0, 0, 0.17) 0%,
      rgba(255, 255, 255, 1) 58%
    );
  }
  h2 {
    margin: var(--space-m) 0;
  }
</style>
