---
const { songInfo } = Astro.props;

import { formatDuration } from "src/lib/utils";

type Song = {
  id: string;
  name: string;
  duration_ms: number;
  addedById: string;
  playlistId: string;
  spotifyId: string;
  albumId: string;
  popularity: number;
  addedAt: string;
};
---

<div class="song-row">
  <p>{songInfo.artistId}</p>
  <p>{songInfo.name}</p>
  <p>{formatDuration(songInfo.duration_ms)}</p>
  <p>{songInfo.addedById}</p>
  <p>{songInfo.popularity}</p>
</div>

<style lang="scss">
  .song-row {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 2fr 1fr;
    gap: 0.2rem;
    margin: 0.1rem auto;
  }
</style>
