---
interface playlisttype {
  id: string;
  userId: string;
  ownerId: string;
  name: string;
}

import "@styles/components/PlaylistEntry.scss";

const { playlistObject } = Astro.props;
---

<a
  href={`/sharedplaylists/${playlistObject.id}`}
  data-content={playlistObject.id}
>
  <div id={playlistObject.id} class="playlist" data-content="Open">
    <h2>{playlistObject.name}</h2>
    <h4>By {playlistObject.ownerId}</h4>
    <p>
      {playlistObject.songCount}
      {playlistObject.songCount === 1 ? `song` : `songs`}
    </p>
  </div>
</a>

<style lang="scss">
  .playlist {
    background-color: var(--grass-4);
  }

  .playlist:hover {
    background-color: var(--grass-3);
  }

  .playlist::after {
    color: var(--grass-5);
  }

  .playlist::after:hover {
    color: var(--grass-2);
  }

  .playlist * {
    z-index: 2;
  }
</style>

<script>
  const playlistItems = document.querySelectorAll(".playlist");
  playlistItems.forEach((div) => {
    div.addEventListener("click", (e) => {
      e.stopPropagation();
      div.setAttribute("data-content", "Loading...");
    });
  });
</script>
