---
import type { Playlist } from "../types/spotifyTypes.d.ts";
import { Image } from "astro:assets";

let playlistDataArray: Playlist[];

if ("playlistData" in Astro.props && Array.isArray(Astro.props.playlistData)) {
  playlistDataArray = Astro.props.playlistData as Playlist[];
} else {
  console.error("playlistData is not an array");
  playlistDataArray = [];
}
---

<div class="main-list">
  {
    playlistDataArray.map((item, index) => (
      <>
        <a href={`playlists/${item.id}`}>
          <div class="playlist">
            <Image src={item.images[0].url} alt="" width="100" height="100" />
            <div class="desc">
              <h2>{item.name}</h2>
              <h3>by {item.owner.display_name}</h3>
              <p>{item.description}</p>
              {/* <p>{JSON.stringify(item, null, 2)}</p> */}
            </div>
          </div>
        </a>
      </>
    ))
  }
</div>

<style>
  .main-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .playlist {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    gap: 0.7rem;
  }
</style>
